<div class='steps'>
  <div class='large-4 small-4 columns no-padding-right'>
    <div class='header'>Pivotal Stories</div>
    <div class='clearfix'></div>
    <div class='wrapper'>
      <div class='overflow'>
        <ul>
          <% @project.stories.all(story_type: 'feature', current_state: 'started').each do |story| %>
            <li>
              <%= story.name.truncate(50) %>
            <div class='right'>
              <%= link_to 'Convert', convert_path(story.id), class: 'button success tiny no-margin' %>
            </div>
            <div class='clearfix'></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class='large-8 small-8 columns no-padding-left'>
    <div class='header'>Feature File</div>
    <div class='header right'>
      <%= link_to 'Clear Session', clear_path, method: :delete %>
    </div>
    <div class='clearfix'></div>
    <div class='wrapper'>
      <textarea id='textarea'>
        <%= @feature if @feature.present? %>
      </textarea>
    </div>
  </div>
</div>
