/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jackedup
 *= require_tree .
 */


.centerify { margin: 0 auto; text-align: center; }
.left { float: left; }
.right { float: right; }
.clearfix { clear: both; }
.no-margin { margin: 0px !important; }
.no-padding-right { padding-right: 0px !important; }
.no-padding-left { padding-left: 0px !important; }
body { font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important; }
.half-container { width: 50%; margin: auto; }
.quarter-container { width: 25%; margin: auto; }
.high-quarter-container { width: 75%; margin: auto; }
.vertical-centerify { position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; display: table; }
