@import 'compass/css3';

body {
  background: #f5f5f5;
  color: #222;

  section { margin-top: 25px; }//element section

  label {
    font-size: 16px;
    line-height: 28px;
    color: #212121;
  }

  iframe {
    @include border-radius(0px 15px 15px 0px);
    border: 0px;
    width: 98% !important;
  }//element iframe

  .wrapper {
    background: #fff;
    padding: 10px 0px;
    height: 700px;

    .form {
      padding: 20px;
      background: rgba(244, 244, 244, 0.8);
      @include border-radius(15px);
    }//class form

  }//class wrapper

	.hero {
		font-size: 36px;
		color: #333;
		font-weight: bold;
		margin-top: 50px;
	}

  .overflow {
    height: 675px;
    overflow: scroll;
    background: #FFF;
    border-right: 0px;
    border: 1px solid #CCC;
    @include border-radius(15px 0px 0px 15px);
    margin-left: 15px;
  }//class overflow

  ul {
    list-style:none;
    padding: 6px 11px;

    li {
      padding: 4px 6px;
      border-bottom: 1px solid rgba(69, 69, 69, 0.4);
      font-size: 14px;
    }//element li

    .button {
      font-size: 12px !important;
      font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      border-radius: 2px !important;
      background: #79864e;
      box-shadow: 0 2px 0 #9fb167;
    }//class button

  }//element ul

  .header {
    background: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0px 5px;
    @include border-radius(2px 2px 0px 0px);
    margin-left: 20px;
    color: #79864e;
    float: left;

  }//class header

  .image-footer {
    padding: 80px 0;
    text-align: center;
  }
  .mango-wrapper {
    box-sizing: border-box;
    padding: 20px;
    width: 960px;
    min-height: 290px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    margin: 120px auto 0;

    & > div {
      display: inline-block;
    }
    & > div:first-child {
      width: 540px;
    }
  }

  .button {
    position: relative;
    font-size: 14px;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 0 #9fb167;
    background: #aac949;

    &:hover {
      background: #9fbf3b;
    }

    &:active {
      top: 4px;
      box-shadow: none;
    }
  }

  footer {
    position: fixed;
    width: 100%;
    padding: 16px;
    background: #000;
    color: #FFF;
    bottom: 0;
    font-size: 13px;
  }//element footer

}//element body

