@import 'compass/css3';

body {

  background: url('tweed.png') 0 0 repeat;

  section { margin-top: 25px; }//element section

  label {
    font-size: 16px;
    line-height: 28px;
    color: #000;
  }

  iframe {
    @include border-radius(0px 15px 15px 0px);
    border: 0px;
    width: 98% !important;
  }//element iframe

  .wrapper {
    background: rgba(244, 244, 244, 0.6);
    padding: 10px 0px;
    height: 700px;

    .form {
      padding: 20px;
      background: rgba(244, 244, 244, 0.8);
      @include border-radius(15px);
    }//class form

  }//class wrapper

  .overflow {
    height: 675px;
    overflow: scroll;
    background: #FFF;
    border-right: 0px;
    border: 1px solid #CCC;
    @include border-radius(15px 0px 0px 15px);
    margin-left: 15px;
  }//class overflow

  ul {
    list-style:none;
    padding: 6px 11px;

    li {
      padding: 4px 6px;
      border-bottom: 1px solid rgba(69, 69, 69, 0.4);
      font-size: 14px;
    }//element li

    .button {
      font-size: 12px !important;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }//class button

  }//element ul

  .header {
    background: rgba(244, 244, 244, 0.6);
    width: 150px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    @include border-radius(10px 10px 0px 0px);
    margin-left: 20px;
    color: rgba(56, 56, 56, 0.9);
    float: left;

  }//class header

  footer {
    position: fixed;
    width: 100%;
    padding: 16px;
    background: #000;
    color: #FFF;
    bottom: 0;
  }//element footer

}//element body

