%footer
  .large-12.small-12.columns
    .centerify
      Made in Rails 4 by
      %a{href: 'http://twitter.com/akosipc', target: '_blank'} @akosipc
      ,
      %a{href: 'http://twitter.com/jaunesarmiento', target: '_blank'} @jaunesarmiento
      and
      %a{href: 'http://twitter.com/ramosjaemar', target: '_blank'} @ramosjaemar
